<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./templates/header.ejs", { stylesheet : "dashboard", title :
    "Willi - Dashboard" }) %>
    <link rel="stylesheet" href="/css/fonts.css" />
  </head>
  <body>
    <%- include("./templates/loading.ejs") %> <% for(const key in flash){ %>

    <span role="alert" class="flash flash-<%= key %>"> <%= flash[key] %> </span>

    <% } %>

    <a
      id="mahsa"
      href="https://twitter.com/search?q=%D9%85%D9%87%D8%B3%D8%A7_%D8%A7%D9%85%DB%8C%D9%86%DB%8C"
      >#مهسا_امینی</a
    >

    <div class="left">
      <%- include("./templates/leftItems.ejs") %> <%-
      include("./templates/dmList.ejs") %>
    </div>
    <div class="right">
      <% if(mode == "new chat"){ %> <%- include("./templates/newChat.ejs") %> <%
      }else{ %> <% if(messages){ %> <%- include("./templates/messages.ejs") %>
      <%- include("./templates/sendInput.ejs") %> <% }else{ %> <%-
      include("./templates/noChatSelected.ejs") %> <% } %> <% } %>
    </div>
  </body>
</html>
