<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./templates/header.ejs", { stylesheet : "dashboard", title :
    "Willi - Dashboard" }) %>
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/responsive/dashboard.css" />

    <script defer src="http://localhost:80/socket.io/socket.io.js"></script>
    <script defer src="/js/axios.min.js"></script>
    <script defer src="/js/script.js"></script>
  </head>
  <body>
    <%- include("./templates/loading.ejs") %> <% for(const key in flash){ %>

    <span role="alert" class="flash flash-<%= key %>"> <%= flash[key] %> </span>

    <% } %> <% if(mode == "chat messages"){ %>

    <div class="mobile-menu">
      <div style="display: block; width: 50px; height: 50px"></div>
      <img src="/media/icons/profile-image.svg" alt="" />
      <p><%= opennedDM %></p>
    </div>

    <% } %>

    <span class="hamburger" id="hamburger-chat">
      <div></div>
      <div></div>
      <div></div>
    </span>

    <div class="left" id="left">
      <a
        id="mahsa"
        href="https://twitter.com/search?q=%D9%85%D9%87%D8%B3%D8%A7_%D8%A7%D9%85%DB%8C%D9%86%DB%8C"
        >#مهسا_امینی</a
      >
      <%- include("./templates/leftItems.ejs") %> <%-
      include("./templates/dmList.ejs") %>
    </div>
    <div class="right">
      <% if(mode == "new chat"){ %> <%- include("./templates/newChat.ejs") %> <%
      }else{ %> <% if(messages){ %> <%- include("./templates/messages.ejs") %>
      <%- include("./templates/sendInput.ejs") %> <% }else{ %> <%-
      include("./templates/noChatSelected.ejs") %> <% } %> <% } %>
    </div>
  </body>
</html>
