<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/fonts.css" />
  </head>
  <body>
    <div class="left">
      <ul class="dms">
        <% if(firstDMList.length == 0 && secondDMList.length == 0){ %>

        <div class="no-chat-handler">
          <p class="no-chat">No Chat Available</p>
        </div>

        <% }else{ %> <% firstDMList.forEach((dm) => { %>

        <li class="dm">
          <a href="/chat/<%= dm.id %>">
            <div class="image-handler">
              <img
                src="/media/icons/profile-image.svg"
                alt=""
                class="chat-image"
              />
            </div>
            <div class="info-handler">
              <p class="chat-username"><%= dm.chatter_name %></p>
              <!-- <p class="chat-message">salam chetori ?</p> -->
            </div>
          </a>
        </li>

        <% }) %> <% secondDMList.forEach((dm) => { %>

        <li class="dm">
          <a href="/chat/<%= dm.id %>">
            <div class="image-handler">
              <img
                src="/media/icons/profile-image.svg"
                alt=""
                class="chat-image"
              />
            </div>
            <div class="info-handler">
              <p class="chat-username"><%= dm.creator_name %></p>
              <!-- <p class="chat-message">salam chetori ?</p> -->
            </div>
          </a>
        </li>

        <% }) %> <% } %>
      </ul>

      <a
        id="mahsa"
        href="https://twitter.com/search?q=%D9%85%D9%87%D8%B3%D8%A7_%D8%A7%D9%85%DB%8C%D9%86%DB%8C"
        >#مهسا_امینی</a
      >
    </div>
    <div class="right">
      <% if(messages){ %>

      <ul class="messages">
        <% messages.forEach(message => { %>

        <li class="message">
          <div class="sub-message <%= (message.sender_id == user.id) ? "right" : "left" %>-side">
            <!-- <div class="reply-side">
              <div class="message-reply">
                <p class="reply-username">Shayan</p>
                <p class="reply-message">Salam khoobi?</p>
              </div>
            </div> -->

            <p class="message-username"><%= (message.sender_id == user.id) ? "You" : "User" %></p>
            <p class="message-message"><%= message.text %></p>
          </div>
        </li>

        <% }) %>
      </ul>

      <div class="send_side">
        <form class="send_side_form" action="/chat/<%= chatId %>" method="post">

          <input type="text" name="text" id="text_input" placeholder="Write your message..." autocomplete="off" required>
          <button type="submit" id="text_send">
            Send
          </button>

        </form>

      </div>

      <% }else{ %>

      <div class="no-chat-selected">
        <p>No Chat Selected</p>
      </div>

      <% } %>
    </div>
  </body>
</html>
